@import "tailwindcss";
@source "../app/**/*.{ts,tsx,js,jsx}";
@source "../components/**/*.{ts,tsx,js,jsx}";
@source "app/components/**/*.{ts,tsx,js,jsx}";
@import "./styles/palette.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);
  --color-primary: var(--brand);
  --color-primary-hover: var(--brand-hover);
  --color-text-primary: var(--primary);
  --color-text-secondary: var(--secondary);
  --color-text-muted: var(--muted);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-skybolt-blue: var(--SkyboltBlue);
  --background-image-brand-gradient: var(--gradient-primary);
  --color-brand-yellow: var(--color-yellow-start);
  --color-brand-orange: var(--color-orange-end);

  --font-sans: var(--font-poppins), "ui-sans-serif", "system-ui";
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
